<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>CP2 Web Server</title>
</head>

<body>

<h1>Web server running on Azure Virtual Machine</h1>

<p>This container includes its own static content and authentication.</p>

<p>Images are stored in registry: {{ acr_login_server }}</p>

</body>
</html>