<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>CP2 Web Service</title>
</head>

<body>

<h1>Web service deployed using Ansible and Podman</h1>

<p>Host machine: {{ inventory_hostname }}</p>

<p>Container registry used: {{ acr_login_server }}</p>

</body>
</html>