server {

    listen 80;
    server_name _;

    location / {

        root /usr/share/nginx/html;
        index index.html;

        # HTTP Basic authentication
        auth_basic "{{ web_auth_realm }}";
        auth_basic_user_file /etc/nginx/auth/.htpasswd;

        try_files $uri $uri/ /index.html;

    }

}